# Server configuration
PORT=8080
GIN_MODE=debug

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=residential
DB_SSL_MODE=disable

# JWT configuration
JWT_SECRET=your_jwt_secret_key_here 


# WhatsApp API Configuration
WHATSAPP_API_KEY=your-whatsapp-api-key
WHATSAPP_PHONE_NUMBER_ID=your-phone-number-id

# Session Configuration
SESSION_SECRET=your_jwt_secret_key_here